|        <a href="<%= help_privacy_path %>">Privacy and cookies</a>
        |
        Adeiladwyd gan <a href="http://www.mysociety.org/?utm_source=whatdotheyknow.com&utm_medium=link">mySociety</a> ...
        <a href="<%= help_credits_path(:anchor => 'helpus') %>">a chi</a>
        |
        Wedi ei gyflwyno i <a href="http://mk.ucant.org/archives/000129.html">Chris Lightfoot</a>
