<div class="newsletter-signup" id="newsletter-signup">
  <img class="newsletter-signup__image" src="<%= image_path('logo-mysociety-black') %>" alt="mySociety logo" width="250px" height="53px"/>
  <p>WhatDoTheyKnow is a project of mySociety, a not for profit that creates technology, research and data to empower citizens to take their first steps towards greater civic participation.</p>
  <h2 class="newsletter-signup__title"><%= _("Keep up with what we're doing") %></h2>
  <p class="newsletter-signup__subtitle">News on Transparency, Democracy, Community Climate and more…</p>
  <a class="button" href="https://www.mysociety.org/subscribe?utm_campaign=wdtk-newsletter&utm_content=homepage+banner+subscribe&utm_medium=link&utm_source=whatdotheyknow.com">Subscribe to our newsletters</a>
</div>
