<div>
  <a id="logo" class="ir" href="<%= frontpage_url %>">
  WhatDoTheyKnow? Make and explore Freedom of Information requests
  </a>
</div>
<div>
  <a id="orglogo" class="ir" href="http://www.mysociety.org">another really handy site by mysociety.org</a>
</div>
