<div><%= link_to "#{image_tag('../alavetelitheme/images/logo-trans.png', :alt => 'WhatDoTheyKnow?')} Make and explore Freedom of Information requests", frontpage_url, :id=>'logo' %> 
</div>
<div id="orglogo">
      <a href="http://www.mysociety.org">another really handy site by mysociety.org</a>
</div>
