<div class="container">
  <h2 class="alavetelicon-banner__heading">AlaveteliCon 2015, 19–20 May, Madrid</h2>
  <p>The world’s only conference on Freedom of Information technologies</p>
  <a class="alavetelicon-banner__button" href="https://www.mysociety.org/2015/04/07/join-us-in-madrid-for-alavetelicon-2015/">Find out more &raquo;</a>
</div>