<% if I18n.locale.to_s == 'cy' %>
As you can see, we don't yet have a complete Welsh translation of WhatDoTheyKnow. Please help us get there by adding translations at <a href="https://www.transifex.com/projects/p/alaveteli/" target="_blank">Transifex</a>. You can read more about working with translations for <a href="http://www.alaveteli.org/" target="_blank">Alaveteli</a>, the software that runs WhatDoTheyKnow, <a href="https://github.com/mysociety/alaveteli/blob/develop/doc/TRANSLATE.md" target="_blank">here</a>.
<% end %>