<p>
  Our friends over at the <a href="http://www.cfoi.org.uk/"
  target="_blank">Campaign for Freedom of Information</a> are
  having financial troubles. Without their amazing work there
  would be no Freedom of Information Act, and no
  WhatDoTheyKnow. Please visit their site
  and <a href="http://www.cfoi.org.uk/fundraisers/help-the-campaign/"
  target="_blank">show them your support</a>.
</p>

