<% if Date.today.between?(Date.parse('2016-12-16'), Date.parse('2016-01-02')) %>Help mySociety make websites that empower people. <a href="https://www.mysociety.org/donate/?utm_source=whatdotheyknow.com&utm_medium=banner&utm_campaign=december_2016&utm_content=banner+donate+now">Your donations support sites like this.</a><% end %>
