<% if Date.today < Date.parse('2017-03-21') %>
We're seeking more volunteers to help us run this site. <a href="https://www.mysociety.org/2017/02/23/could-you-join-the-whatdotheyknow-team?utm_source=whatdotheyknow.com&utm_medium=banner&utm_campaign=volunteers_feb_2017&utm_content=banner+join+volunteer">See our blog post for more information.</a>
<% end %>
