<p>mySociety is taking action to respond to the Heartbleed security threat, which affects WhatDoTheyKnow - <a href="http://www.mysociety.org/2014/04/11/mysociety-response-to-the-heartbleed-security-incident/">read more about the steps we are taking</a> on our blog</p>
