Freedom of Information in the UK is under threat. See <a href="https://www.mysociety.org/2015/11/10/your-access-to-freedom-of-information-is-under-threat-heres-what-to-do/">four simple ways you can take action now</a>.
