<li>
  <%= link_to 'Privacy and cookies', help_privacy_path %>
</li>

<li>
  <%= link_to 'Run by Volunteers', help_credits_path(:anchor => 'helpus') %> and powered by <%= link_to 'Alaveteli',  help_alaveteli_path %>
</li>
<li>
  Dedicated to <%= link_to 'Chris Lightfoot', "http://mk.ucant.org/archives/000129.html" %>
</li>
