  <div class="read-container js-read-container">
    <p class="read-container__announcement"><strong>Please read WhatDoTheyKnow rules before continue:</strong></p>
    <ol>
      <li>Only use WhatDoTheyKnow to <strong class="gradient-text">request specific information</strong>. Don't use it to send general messages to public authorities or for personal messages.</li>
      <li><strong class="gradient-text">Don't include things that could be seen as harmful or untrue in your requests and comments</strong>. Don't make allegations.</li>
      <li><strong class="gradient-text">Don't post anything that is against the law, threatening, abusive, or offensive</strong>. Any such content will be <%= link_to 'removed', help_removing_information_path %>.</li>
      <li><strong class="gradient-text">Only request information that anyone could expect to get</strong>. If you have a special right to certain information, like your personal data, contact the public body directly. The same goes for personal information about your family 
      members. Requests for your own data are called Subject Access Requests. The Information Commissioner (ICO) has 
      <a href="https://ico.org.uk/for-the-public/getting-copies-of-your-information-subject-access-request/" title="Guidance from the Information Commissioner on your right of access">
      advice on making these requests</a>.</li>
      <li>Keep your messages short and focused on the information you want. Follow our <%= link_to help_requesting_path(anchor: 'responsible') do %>tips for making good requests.<% end %></li>
      <li>Don't pretend to be someone else.</li>
      <li>Don't use language that might offend people in your requests and comments.</li>
      <li>No spamming.</li>
      <li>Write requests using both upper and lowercase letters.</li>
      <li>Don't make vexatious requests that have no real purpose or are meant to cause problems for a public body. The ICO has 
      <a href="https://ico.org.uk/for-organisations/foi/freedom-of-information-and-environmental-information-regulations/section-14-dealing-with-vexatious-requests/" title="Guidance from the Information Commissioner on vexatious requests">
      guidance on this type of request</a>.</li>
      <li><strong class="gradient-text">Don't use WhatDoTheyKnow to ask for other people's personal information</strong>. Don't include this type of information in requests, comments or follow-ups, unless it's fair to do so.</li>
      <li>Don't try to get around the site limits or actions of site administrators. For example, don't make new accounts to avoid a ban or limits on how many requests you can make. Don't repost things you know moderators have removed.</li>
      <li>Commercial and for-profit use requires a <%= link_to 'WhatDoTheyKnow Pro', account_request_index_path %> subscription.</li>
      <li><strong class="gradient-text">Don’t ask for email addresses in your requests</strong>. Email addresses are automatically redacted, and you will not be able to access them if they are provided in the response.</li>
    </ol>
  </div>
