$color_primary: #2078C2;
$is_primary_color_light: false;
$ati-network-showcase-hero-bg: linear-gradient(180deg, $color_primary 0%, adjust-hue($color_primary, 5deg) 50%, adjust-hue($color_primary, 10deg) 100%);
$ati-advocacy-section-background: linear-gradient(180deg, $color_primary 0%, adjust-hue($color_primary, 10deg) 100%);

.ati_network_showcase .mysoc-footer {
  margin-top: 0;
}
