.js-carousel {
  position: relative;
  overflow: hidden;

  &__wrapper {
    display: flex;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
  }

  &__item {
    flex: 0 0 100%;
    min-width: 100%;
    max-height: 400px;
    overflow-y: auto;

    &:first-child {
      margin-top: 0;
    }
  }

  .carousel-nav {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 1rem;

    button {
      max-height: 39px !important;
      &[aria-disabled="true"] {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  @media (max-width: 450px) {
    overflow-y: auto;
    --carousel-max-height-mobile: 400px;
    max-height: var(--carousel-max-height-mobile);

    .carousel-nav {
      position: sticky;
      bottom: -1px;
      background: transparentize($color: $color_off_white, $amount: 0.6);
      padding: 0.5rem;
      backdrop-filter: blur(3px);
    }
  }
}
