/* Hide text when it's replaced by an image */
@mixin image-replacement {
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}


/* Buttons */
@mixin focus-state {
  &:focus,
  &:visited:focus {
    // It overrides any specificity like the Pro buttons
    background: $color_yellow !important;
    color: $color_black !important;

    outline: 3px solid $color_off_white; // Most of the time this won't be visible, but it will be helpful when the button is in a dark background.
    outline-offset: 0;
    box-shadow:  inset 0px 0px 0px 2px $color_black;
  }
}

@mixin button-base {
  padding: 0.5em 1.25em;
  border-radius: 3px;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  transition: background 300ms ease-out;
  line-height: normal;
  margin-bottom: 0;
  font-family: $font-family;
  &:hover,
  &:active,
  &:focus {
      text-decoration: none;
      transition: background 300ms ease-out;
  }

  @include focus-state;

  &:disabled {
    @include button-disabled;
  }
}

@mixin button {
  @include button-base;
  color: $color_white;
  background: $button-bg;
  border: none;
  &:hover,
  &:active,
  &:visited:hover,
  &:visited:active {
    background: darken($button-bg, 10%);
    color: $color_white;
  }
}


@mixin button-secondary {
  @include button-base;
  background: mix($color_light_grey, $color_yellow, 95%);
  color: $color_black;
  font-weight: normal;
  &:hover,
  &:active {
    background: darken($color_light_grey, 7.5%);
    color: $color_black;
  }
}

@mixin button-tertiary {
  @include button-base;
  background: transparent;
  color: $color_black;
  font-weight: normal;
  border: 1px solid $color_light_grey;
  &:hover,
  &:active {
    background: darken($color_light_grey, 7.5%);
    border: 1px solid darken($color_light_grey, 12.5%);
  }
}

@mixin button-disabled {
  opacity: 0.333;
  &:hover,
  &:active,
  &:focus {
    background: inherit;
  }
}

@mixin button-pro {
  background: linear-gradient(-180deg, #4C858D 0%, #3E6D75 100%);
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.22);
  &:hover,
  &:active,
  &:visited:hover,
  &:visited:active {
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.22);
  }

  &:disabled {
    @include button-disabled;
  }
}

/* Menu items */
@mixin menu-item {
  text-decoration: none;
  color: transparentize($main_menu-link_text, 0.1);
  @include ie8 {
    color: $main_menu-link_text;
  }
  transition: background 0.5s ease-out;
  &:hover,
  &:active,
  &:focus {
    background: darken($main_menu-bg, 10%);
    color: transparentize($main_menu-link_text, 0);
  }
}

@mixin selected-menu-item {
  font-weight: 600;
  color: $main_menu-active_link_text;
  background: $main_menu-active_link_bg;
  &:hover,
  &:active,
  &:focus {
      background: $main_menu-active_link_bg;
  }
}
