/* Hide text when it's replaced by an image */
@mixin image-replacement {
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}


/* Buttons */
@mixin focus-state {
  &:focus,
  &:visited:focus {
    background-color: $color_yellow;
    color: $color_black;
  }
}

@mixin button-base {
  padding: 0.5em 1.25em;
  border-radius: 3px;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 300ms ease-out;
  line-height: normal;
  margin-bottom: 0;
  font-family: $font-family;
  &:hover,
  &:active,
  &:focus {
      text-decoration: none;
      transition: background-color 300ms ease-out;
  }

  &:disabled {
    @include button-disabled;
  }
}

@mixin button {
  @include button-base;
  color: $color_white;
  background-color: $button-bg;
  border: 1.5px solid $button-bg;
  &:hover,
  &:active,
  &:visited:hover,
  &:visited:active {
    background: linear-gradient(-180deg, lighten($button-bg, 40%) 0%, lighten($button-bg, 42%) 100%);
    color: $button-bg;
  }

  @include focus-state;
}


@mixin button-secondary {
  @include button-base;
  background-color: mix($color_light_grey, $color_yellow, 95%);
  color: $color_black;
  font-weight: normal;
  border: 1.5px solid lighten($color_black, 10%);
  &:hover,
  &:active {
    background-color: $color_black;
    color: $color_white;
    border: 1.5px solid $color_white;
  }

  @include focus-state;
}

@mixin button-tertiary {
  @include button-base;
  background-color: transparent;
  color: $link-color;
  font-weight: normal;
  border: 1.5px solid $link-color;
  &:hover,
  &:active,
  &:visited:hover,
  &:visited:active {
    color: $color_white;
    // We are darkening the background and border for cases there is a defaul button and a tertiary button together. In this case when we are hovering over the tertiary one it won't look just like the default button nect to it.
    background-color: darken($link-color, 15%);
    border: 1.5px solid darken($link-color, 15%);
  }

  @include focus-state;
}

@mixin button-disabled {
  opacity: 0.333;
  &:hover,
  &:active,
  &:focus {
    background-color: inherit;
  }
}

@mixin button-pro {
  background-image: linear-gradient(-180deg, #4C858D 0%, #3E6D75 100%);
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.22);
  &:hover,
  &:active,
  &:visited:hover,
  &:visited:active {
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.22);
  }

  @include focus-state;

  &:disabled {
    @include button-disabled;
  }
}

/* Menu items */
@mixin menu-item {
  text-decoration: none;
  color: transparentize($main_menu-link_text, 0.1);
  @include ie8 {
    color: $main_menu-link_text;
  }
  transition: background-color 0.5s ease-out;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($main_menu-bg, 10%);
    color: transparentize($main_menu-link_text, 0);
  }
}

@mixin selected-menu-item {
  font-weight: 600;
  color: $main_menu-active_link_text;
  background-color: $main_menu-active_link_bg;
  &:hover,
  &:active,
  &:focus {
      background-color: $main_menu-active_link_bg;
  }
}
