body {
font-size:14px;
}
#orglogo {
 overflow: hidden;
}
#banner_inner a#logo {
    top: 5px;
    text-decoration: none;
    color: #F3F3F3;
    font-style: italic;
}
#banner_inner a#logo img {
 display: block;
 cursor: hand;
 cursor: pointer;
}
#orglogo a {
color: #F0F0F0;
display: block;
position: absolute;
top: 2em;
right: 0;
clear: none;
height: 55px;
width: 265px;
background-repeat: no-repeat;
background-position: 125px 15px;
background-image: url(../images/mysoc-logo-header.png);
}