body.front h3 {
 font-size: 1.6em;
}
#orglogo {
 overflow: hidden;
}
#banner_inner a#logo {
    top: 5px;
    width: 215px;
    height: 41px;
    text-decoration: none;
    color: #F3F3F3;
    font-style: italic;
    overflow:hidden;
}

#banner_inner a#logo img {
 display: block;
 cursor: hand;
 cursor: pointer;
}
#orglogo a {
color: #F0F0F0;
display: block;
position: absolute;
top: 2em;
right: 0;
clear: none;
height: 55px;
width: 265px;
background-repeat: no-repeat;
background-position: 125px 15px;
background-image: url(../images/mysoc-logo-header.png);
}
#special-notice {
  display: block;
  position: absolute;
  top: 65px;
  left: 20px;
  background-color: #FF9;
  border: solid 2px #F90;
  padding: 4px;
  text-align: center;
  border-radius: 0.5em;
}

