  <ol>
    <li>Only use WhatDoTheyKnow to request specific information. Don't use it to send general messages to public authorities or for personal messages.</li>
    <li>Don't include things that could be seen as harmful or untrue in your requests and comments. Don't make allegations.</li>
    <li>Don't post anything that is against the law, threatening, abusive, or offensive. Any such content will be <%= link_to 'removed', help_removing_information_path %>.</li>
    <li>Only request information that anyone could expect to get. If you have a special right to certain information,
    like your personal data, contact the public body directly. The same goes for personal information about your family
    members. Requests for your own data are called Subject Access Requests. The Information Commissioner (ICO) has
    <a href="https://ico.org.uk/for-the-public/getting-copies-of-your-information-subject-access-request/" title="Guidance from the Information Commissioner on your right of access">
    advice on making these requests</a>.</li>
    <li>Keep your messages short and focused on the information you want. Follow our <%= link_to help_requesting_path(anchor: 'responsible') do %>tips for making good requests.<% end %></li>
    <li>Don't pretend to be someone else.</li>
    <li>Don't use language that might offend people in your requests and comments.</li>
    <li>No spamming.</li>
    <li>Write requests using both upper and lowercase letters.</li>
    <li>Don't make vexatious requests that have no real purpose or are meant to cause problems for a public body. The ICO has
    <a href="https://ico.org.uk/for-organisations/foi/freedom-of-information-and-environmental-information-regulations/section-14-dealing-with-vexatious-requests/" title="Guidance from the Information Commissioner on vexatious requests">
    guidance on this type of request</a>.</li>
    <li>Don't use WhatDoTheyKnow to ask for other people's personal information. Don't include this type of information in requests, comments or follow-ups, unless it's fair to do so.</li>
    <li>Don't try to get around the site limits or actions of site administrators. For example, don't make new accounts to avoid a ban or limits on how many requests you can make. Don't repost things you know moderators have removed.</li>
    <li>Most people only need one account. You must not create multiple accounts to get around site rules or moderation, or to make vexatious requests. It’s OK to have more than one account if there's a genuine reason (e.g. if you lose access to an old email address, or if you want to keep work and personal requests separate). If we think you're using multiple accounts improperly, we may suspend all of them.</li>
    <li>Don’t use disposable or one-time email addresses.</li>
    <li>Don’t use scripts or unapproved automation. You may use WhatDoTheyKnow Pro or the API for approved automation, but using scripts or bots to bypass limits is not allowed.</li>
    <li>Commercial and for-profit use requires a <%= link_to 'WhatDoTheyKnow Pro', account_request_index_path %> subscription.</li>
    <li>Don’t ask for email addresses in your requests. Email addresses are automatically redacted, and you will not be able to access them if they are provided in the response.</li>
  </ol>
