<p>
  WhatDoTheyKnow is a service that helps citizens make information requests to
  public authorities, and publishes these requests and responses in a
  searchable public archive. Your use of the service must be in line with these
  aims.
</p>

<p>General Behaviour</p>

<ul>
  <li>
    <strong>Don’t post anything that is against the law, threatening, abusive,
    or offensive</strong>. Any such content will be
    <%= link_to 'removed', help_removing_information_path %>.
  </li>

  <li>
    <strong>Don’t make allegations</strong>, use language that might
    offend people, or post things that could be seen as harmful or untrue.
  </li>

  <li>
    <strong>
      Don’t post content promoting unrelated products or services</strong>.
  </li>

  <li>
    <strong>Don’t try to get around the site limits or actions of site
    administrators</strong>. For example, don’t make new accounts to avoid a
    ban or limits on how many requests you can make. Don’t repost things
    that administrators have removed.
  </li>
</ul>

<p>Making Requests</p>

<ul>
  <li>
    <strong>Only use WhatDoTheyKnow to make Freedom of Information and
    Environmental Information Regulations requests</strong>. Only request
    information that anyone could expect to get. Public authorities should
    treat the response to an information request as a response to the
    world.
  </li>

  <li>
    <strong>Follow our
    <%= link_to 'guidance for making good requests', help_requesting_path(anchor: 'responsible') %></strong>.
    Keep your messages short and focused on the specific information
    you want.
  </li>

  <li>
    <strong>Don’t make requests for your own personal data</strong>. The same
    goes for personal information about your family members. Requests for your
    own data are called Subject Access Requests. Contact the public body
    directly. The Information Commissioner (ICO) has
    <a href="https://ico.org.uk/for-the-public/getting-copies-of-your-information-subject-access-request/">
    advice on requesting your personal data</a>.
  </li>

  <li>
    <strong>Don’t use WhatDoTheyKnow to ask for other people’s personal
    information</strong>, unless there’s a high public interest in doing so.
    Don’t include this type of information in content you post.
  </li>

  <li>
    <strong>Don’t send general or personal messages to public authorities</strong>.
    This includes general queries and complaints.
  </li>

  <li>
    <strong>Don’t make requests that have no real purpose or are meant to cause
    problems</strong> for a public body. The ICO has
    <a href="https://ico.org.uk/for-organisations/foi/freedom-of-information-and-environmental-information-regulations/section-14-dealing-with-vexatious-requests/">
    guidance on this type of vexatious request</a>.
  </li>
</ul>

<p>Accounts</p>

<ul>
  <li>
    <strong>Most people only need one account</strong>. It’s OK to have more
    than one account if there’s a genuine reason (e.g. if you lose access to an
    old email address, or if you want to keep work and personal requests
    separate). If we think you’re using multiple accounts improperly, we may
    suspend all of them.
  </li>

  <li>
    <strong>Don’t pretend to be someone else</strong>.
  </li>

  <li>
      <strong>Don’t use disposable or one-time email addresses</strong>.
  </li>

  <li>
    <strong>Don’t use scripts or unapproved automation</strong>. You may use
    WhatDoTheyKnow Pro or the API for approved automation, but using scripts or
    bots to bypass limits is not allowed.
  </li>

  <li>
    <strong>Commercial and for-profit use requires a
    <%= link_to 'WhatDoTheyKnow Pro', account_request_index_path %>
    subscription</strong>.
  </li>
</ul>
