foi:
  questions:
  - id: s43-q1
    show_if: &section-43
    - { id: exemption, operator: is, value: section-43 }
    options: &yes-no
    - { label: "<%= 'Yes' %>", value: "yes" }
    - { label: "<%= 'No' %>", value: "no" }
    label:
      plain: >
        Has the authority demonstrated that the disclosure of the information you have requested would prejudice commercial interests?
    hint:
      html: >
        <a href="https://ico.org.uk/media/for-organisations/documents/1178/commercial-interests-section-43-foia-guidance.pdf">ICO guidance</a> states that an authority "must show that because [the information] is commercially sensitive, disclosure would be, or would be likely to be, prejudicial to the commercial activities of a person (an individual, a company, the public authority itself or any other legal entity)".

  - id: s43-q1y1
    show_if:
    - { id: s43-q1, operator: is, value: 'yes' }
    options: *yes-no
    label:
      plain: >
        Are the commercial interests those of the authority itself?

  - id: s43-q1y1y1
    show_if:
    - { id: s43-q1y1, operator: is, value: 'yes' }
    options: *yes-no
    label:
      plain: >
        Has the authority conducted a prejudice test?
    hint:
      html: >
        <a href="https://ico.org.uk/media/for-organisations/documents/1178/commercial-interests-section-43-foia-guidance.pdf">ICO guidance</a> says: "In order to apply section 43(2), the public authority must satisfy itself that disclosure of the information would, or would be likely to, prejudice or harm the commercial interests of any person (this can include the public authority holding it)."

  - id: s43-q1y1y1y1
    show_if:
    - { id: s43-q1y1y1, operator: is, value: 'yes' }
    options: *yes-no
    label:
      plain: >
        Has the authority decided the likelihood of prejudice occurring?
    hint:
      html: >
        The ICO also states that 'would' means that there is a more than 50% chance of harm occurring, while 'would be likely to' indicates a lower, but 'real and significant' risk. <a href="https://ico.org.uk/media/for-organisations/documents/1214/the_prejudice_test.pdf">There is more guidance on the prejudice test here</a>.

  - id: s43-q1y1n1
    show_if:
    - { id: s43-q1y1, operator: is, value: 'no' }
    options: *yes-no
    label:
      plain: >
        Has the authority sought the views of the third party whose commercial interests they are citing?
    hint:
      html: >
        <a href="https://ico.org.uk/for-organisations/guidance-index/freedom-of-information-and-environmental-information-regulations/section-43-commercial-interests/">ICO guidance</a> says: "if you propose to withhold information because the disclosure would, or would be likely to, prejudice a third party’s commercial interests, you must have evidence that this accurately reflects the third party’s concerns. It is not sufficient for you to simply speculate about the prejudice which might be caused to the third party’s commercial interests. You need to consult them for their exact views in all but the most exceptional circumstances."

  - id: s43-q1y1n1n1
    show_if:
    - { id: s43-q1y1n1, operator: is, value: 'no' }
    hint:
      plain: >
        The ICO also says: "There will be situations where a public authority cannot seek the views of a third party, for example due to time constraints for responding to requests. In such circumstances, the public authority may present arguments regarding the likelihood of prejudice based on its prior knowledge of the third party’s concerns.  In doing so, a public authority will need to provide evidence that its arguments genuinely reflect the concerns of the third party involved [...]. The public authority should not present speculative arguments on behalf of that third party."
    options: *yes-no
    label:
      plain: >
        Has the authority provided these arguments?

  - id: s43-q2
    show_if: *section-43
    options: *yes-no
    label:
      plain: >
        Did you request information about a procurement process?
    hint:
      plain: >
        The ICO says: "Information about the procurement of goods and services by a  public authority is usually considered to be commercially sensitive. This can include information provided during a tendering process and also details of a contract or transaction with a third party".

  - id: s43-q2y1
    show_if:
    - { id: s43-q2y1, operator: is, value: 'yes' }
    options: *yes-no
    label:
      plain: >
        Has the authority argued that disclosing information about a financial transaction with one party would affect subsequent negotiations with another party?

  - id: s43-q2y2
    show_if:
    - { id: s43-q2y1, operator: is, value: 'yes' }
    options: *yes-no
    label:
      plain: >
        Has the authority considered each clause within the contract and released anything which it has not judged to be prejudicial to commercial interests?

  - id: s43-q3
    show_if: *section-43
    options: *yes-no
    label:
      plain: >
        Has the authority carried out a public interest test?
    hint:
      html: >
        Some exemptions, including this one, require the authority to conduct a <a href="https://ico.org.uk/media/for-organisations/documents/1183/the_public_interest_test.pdf">public interest test</a>. Note that 'interest' here does not refer to whether the information would be interesting to the public. This requirement says that the authority must weigh up whether there is more 'public good' in disclosing the information than there is a benefit to commercial interests in withholding it.

  - id: s43-q3y1
    show_if:
    - { id: s43-q3, operator: is, value: 'yes' }
    options: *yes-no
    label:
      plain: >
        Does the public interest test relate only to the exemption/s being applied?
    hint:
      plain: >
        When a public interest test is conducted, it must relate specifically to the exemption in use. In this case, the public interest test must relate only to the public good of withholding or releasing information because of commercial interests.

  - id: s43-q4
    show_if: *section-43
    options: *yes-no
    label:
      plain: >
        Has the authority confirmed or denied whether they hold the requested information?

  - id: s43-q4n1
    show_if:
    - { id: s43-q4, operator: is, value: 'no' }
    options: *yes-no
    label:
      plain: >
        Has the authority stated that the act of confirming or denying would prejudice commercial interests (Section 43(3))?

  - id: s43-q4n1y1
    show_if:
    - { id: s43-q4n1, operator: is, value: 'yes' }
    options: *yes-no
    label:
      plain: >
        Has the authority applied the public interest test to the question of whether to confirm or deny?
    hint:
      plain: >
        If the authority does not confirm or deny whether they hold the information, it is obliged to apply the public interest test on this decision. This means that they must weigh up the public good to be gained from confirming or denying, against the harm that would be done to the commercial interests.

  - id: s43-q5
    show_if: *section-43
    options: *yes-no
    label:
      plain: >
        Has the authority mentioned a 'confidentiality clause' as the reason for non-disclosure?

  - id: s43-q5y1
    show_if:
    - { id: s43-q5, operator: is, value: 'yes' }
    options: *yes-no
    label:
      plain: >
        Has any information been released?
    hint:
      plain: >
        ICO guidance states that while confidentiality clauses can be useful in identifying commercially sensitive information, they should not be applied to an entire contract: "Public authorities must realise they cannot contract out of their FOIA statutory obligations".

  - id: s43-q6
    show_if: *section-43
    options: *yes-no
    label:
      plain: >
        Is it likely that the information will be less commercially sensitive after some time has passed?
