foi:
  actions:
  - id: internal_review
    suggestions:
    - id: s11-a4
      show_if:
      - { id: s11-q3y1n1y1, operator: is, value: 'no' }
      advice:
        plain: >
          Consider asking for an internal review, stating this guidance. Getting the data released in a reusable format means that it will not only be easier for you to work with, but for other WhatDoTheyKnow users, too.

    - id: s11-a5
      show_if:
      - { id: s11-q4y1, operator: is, value: 'no' }
      advice:
        plain: >
          The authority must provide the reason for not acquiescing with your request for the format or means of access to the information.

          Ask for an internal review, citing <a href="https://ico.org.uk/media/for-organisations/documents/1163/means-of-communicating-information-foia-guidance.pdf">ICO guidance</a> on Section 11(3), and stating that the authority must provide the reasoning behind this decision.

    - id: s11-a6
      show_if:
      - { id: s11-q4y1y1n1, operator: is, value: 'no' }
      advice:
        html: >
          Consider asking for an internal review, citing <a href="https://ico.org.uk/media/for-organisations/documents/1163/means-of-communicating-information-foia-guidance.pdf">ICO guidance</a>.

    - id: s11-a8
      show_if:
      - { id: s11-q4y1y1n1y1, operator: is, value: 'no' }
      advice:
        plain: >
          Not being able to provide the information in your preferred format does not exempt the authority from providing it at all. The ICO states that "the authority may provide the information by any other means that are reasonable in the circumstances" and "if [...] unable to provide the information by the preferred means, we consider that it would be good practice for the public authority to discuss with the requester whether they can provide the information in another form that would be acceptable".

          Check that this is the only reason given for not providing the information,and if so, request an internal review, citing <a href="https://ico.org.uk/media/for-organisations/documents/1163/means-of-communicating-information-foia-guidance.pdf">ICO guidance</a>.

    - id: s11-a9
      show_if:
      - { id: s11-q5, operator: is, value: 'yes' }
      advice:
        plain: >
          Consider requesting an internal review, citing this guidance.

    - id: s11-a10
      show_if:
      - { id: s11-q6y1, operator: is, value: 'no' }
      advice:
        html: >
          <a href="https://ico.org.uk/media/for-organisations/documents/1163/means-of-communicating-information-foia-guidance.pdf">ICO guidance</a> says that the authority must provide the reasons.

          Ask for an internal review, citing this guidance.

    - id: s11-a11
      show_if:
      - { id: s11-q6y1y1, operator: is, value: 'no' }
      advice:
        html: >
          <a href="https://ico.org.uk/media/for-organisations/documents/1163/means-of-communicating-information-foia-guidance.pdf">ICO guidance</a> says, "If it is not reasonably practicable to allow inspection, then the public authority must still communicate the information to the requester by other means."

          Request an internal review, citing this guidance.

    - id: s11-a16
      show_if:
      - { id: s11-q8y1n1, operator: is, value: 'yes' }
      advice:
        plain: >
          Request an internal review, citing the ICO guidance.

    - id: s11-a18
      show_if:
      - { id: s11-q9y1n1, operator: is, value: 'yes' }
      advice:
        plain: >
          Consider requesting an internal review, pointing out the difference/s.

  - id: clarification
    suggestions:
    - id: s11-a7
      show_if:
      - { id: s11-q4y1y1n1y1y1, operator: is, value: 'no' }
      advice:
        plain: >
          If the information provided is of no use to you in the format offered, consider replying to the authority to discuss what compromises may be acceptable to both of you. For example, while they may not be able to offer you data in your preferred format, they may be able to provide it in a format that is easier for you to extract it from so that you can format it yourself.

    - id: s11-a12
      show_if:
      - { id: s11-q6y1y1y1, operator: is, value: 'no' }
      advice:
        plain: >
          Consider replying to the authority to explain why their suggested method of access is not reasonable, and seeing if there is a compromise that could be reached.

    - id: s11-a13
      show_if:
      - { id: s11-q7y1, operator: is, value: 'no' }
      advice:
        plain: >
          Consider responding to the authority to clarify that you are not asking them to produce a new summary.

    - id: s11-a19
      show_if:
      - { id: s11-q9y1n1n1, operator: is, value: 'no' }
      advice:
        plain: >
          Consider replying to ask for clarification.

  - id: new_request
    suggestions:
    - id: s11-a1
      show_if:
      - { id: s11-q1, operator: is, value: 'no' }
      advice:
        plain: >
          The authority only has a duty to consider your preferred format or means of provision if it was stated as part of your initial request.

          If the format is vital to your needs, consider transferring it to your preferred format yourself. If this is not possible, you may wish to make the request again from scratch, making sure you include details of your required format.

  - id: generic
    suggestions:
    - id: s11-a2
      show_if:
      - { id: s11-q2, operator: is, value: 'yes' }
      advice:
        plain: >
          Depending on the circumstances, you may have rights under different legislation, such as the Welsh Language Act 1993.

    - id: s11-a3
      show_if:
      - { id: s11-q3y1n1, operator: is, value: 'no' }
      advice:
        plain: >
          The authority do not have an obligation to convert analogue data into a digital format.

    - id: s11-a14
      show_if:
      - { id: s11-q7y1y1, operator: is, value: 'yes' }
      advice:
        plain: >
          The authority appears to have acted within their rights. There is no obligation to provide a summary of exempt information.

    - id: s11-a15
      show_if:
      - { id: s11-q8y1, operator: is, value: 'yes' }
      advice:
        plain: >
          The authority is within its rights to request this payment.

    - id: s11-a17
      show_if:
      - { id: s11-q9y1, operator: is, value: 'yes' }
      advice:
        html: >
          According to <a href="https://ico.org.uk/media/for-organisations/documents/1163/means-of-communicating-information-foia-guidance.pdf">ICO guidance</a>, the authority is within its rights not to provide the information in your preferred format, and Section 21 may apply.
