<p style="background:#fdf07a;border:2px solid #fdd906;padding:10px;">
  <a href="">Tell us how you've used your requests</a> and get free Pro credit!
<p>

<%= simple_format(render(template: 'alaveteli_pro/embargo_mailer/expired_alert', formats: [:text])) %>
