<% @title = "What is FOI and why does is matter?" %>

<div class="learn-content-container">
  <h1 id="title">
    <%= @title %>
  </h1>

  <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<!-- TODO add HREF -->
 <div class="card-grid">
   <a class="card">
     <img class="card-image" role="presentation" aria-hidden="true" src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="" loading="lazy">
     <h2 class="card-header">
      <span class="card-number"><span class="number">1</span></span>
      Understanding your rights
    </h2>
     <div class="card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
     </div>
   </a>

   <a class="card">
    <img class="card-image" role="presentation" aria-hidden="true" src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="" loading="lazy">
    <h2 class="card-header">
      <span class="card-number"><span class="number">2</span></span>
      How to make an FOI request</h2>
    <div class="card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </a>

  <a class="card">
    <img class="card-image" role="presentation" aria-hidden="true" src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="" loading="lazy">
    <h2 class="card-header">
      <span class="card-number"><span class="number">3</span></span>
      How to write an effective request
    </h2>
    <div class="card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </a>

  <a class="card">
    <img class="card-image" role="presentation" aria-hidden="true" src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="" loading="lazy">
    <h2 class="card-header">
      <span class="card-number"><span class="number">4</span></span>
      Privacy and anonymity
    </h2>
    <div class="card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </a>

  <a class="card">
    <img class="card-image" role="presentation" aria-hidden="true" src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="" loading="lazy">
    <h2 class="card-header">
      <span class="card-number"><span class="number">5</span></span>
      What to do if your request is refused or delayed
    </h2>
    <div class="card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </a>

  <a class="card">
    <img class="card-image" role="presentation" aria-hidden="true" src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="" loading="lazy">
    <h2 class="card-header">
      <span class="card-number"><span class="number">6</span></span>
      Myths and misconceptions about FOI
    </h2>
    <div class="card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </a>
 </div>
