Make a <strong>new FOI request</strong> for summary information, or for
documentation relating indirectly to matters in your refused request.
<a href="<%= help_contact_path %>">Ask us for ideas</a> if you're stuck.
If any <strong>other public authorities</strong> or publicly owned companies
are involved, then make FOI requests to them.
