  <div class="changes">
    <h2>
      What will we do with your data? 
    </h2>
    <p>
      We care about your data and will handle it in line with our <%= link_to 'Privacy Notice', help_privacy_path %>.
    </p>
  </div>
