   <div class="changes">
    <h2>
      Sut ydym yn defnyddio eich gwybodaeth bersonol.
    </h2>
    <p>
      Darllenwch ein <%= link_to 'hysbysiad preifatrwydd', help_privacy_path %> 
      arlein i gael rhagor o wybodaeth ynghylch sut rydym ni’n trin eich gwybodaeth bersonol.
    </p>
  </div>