<% if @history %>
  <div class="changes">
    <h2 id="changes">
      Changes <a href="#changes">#</a>
    </h2>

    <p>
      We keep these pages under review, and may make changes from time to
      time to ensure that they remain up-to-date and accurate. You can find a
      synopsis of changes we’ve made at our <%= link_to 'GitHub repository',
        @history.commits_url,
        alt: "Link to version history for WhatDoTheyKnow #{@title} (hosted on GitHub)" %>
      but if you have any questions, please do
      <%= link_to 'contact us', help_contact_path %>.
    </p>
  </div>
<% end %>
