<% @title = "Complaints about us" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1>
    <%= @title %>
  </h1>
  <dl>
    <dt id="complaints">
      How do we deal with complaints about us?
      <a href="#complaints">#</a>
    </dt>
    <dd>
      <p>
        If you have a complaint about the way we are running the WhatDoTheyKnow
        service, please <a href="<%=  help_contact_path %>">contact the admin
        team</a>. Those seeking to make complaints via other routes will be
        directed to the admin team.
      </p>
      <p>
        If you are unhappy with the way a matter has been handled by one team
        member, you can request that another member of the team review what has
        taken place and seek to resolve the matter.
      </p>
      <p>
        The WhatDoTheyKnow team will seek to apply the site’s existing policies
        or discuss adapting the policies to respond to any novel circumstances
        which arise.
      </p>
      <p>
        We endeavour to deal with complaints promptly; occasionally we decide to
        wait for one of our regular monthly meetings to discuss a case, we will
        inform you if that is happening in relation to a matter you have raised.
      </p>
      <p>
        Having been through these two phases, should you remain unhappy with a
        decision made by the WhatDoTheyKnow team, you may request that the
        matter is discussed internally with a group including mySociety’s Chief
        Executive to resolve it. mySociety is the parent organisation of
        WhatDoTheyKnow.
      </p>
      <p>
        If necessary, mySociety’s Chief Executive will make a
        recommendation to the mySociety trustees who will make the final decision
        on the matter. Ultimately, the trustees are responsible for the running of
        WhatDoTheyKnow.
      </p>
      <p>
        WhatDoTheyKnow’s activity is subject to regulation by the Information
        Commissioner and the Charity Commission. Those who remain dissatisfied
        are welcome to use these and other external routes of complaint and
        appeal open to them.
      </p>
    </dd>
  </dl>

  <%= render partial: 'history' %>
</div>
