<% @title = "Credit where credit is due" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="credits"><%= @title%> <a href="#credits">#</a> </h1>
  <p>
    WhatDoTheyKnow is a project of <a href="https://www.mysociety.org/?utm_source=whatdotheyknow.com&utm_medium=link">
    mySociety</a>, a UK organisation. mySociety builds websites that empower
    citizens to hold authorities to account. This is one of those sites.</p>
  <dl>
    <dt id="thanks">
      The original idea
      <a href="#thanks">#</a>
    </dt>
    <dd>
      <p>
        In 2006, mySociety ran a competition, inviting concepts for their next
        citizen-empowering website.
      </p>
      <p>
        Two people came up with what proved to be the winning idea, a site for
        submitting FOI requests: Phil Rodgers and Francis Irving.
      </p>
      <p>
        FOI activist and journalist Heather Brooke had already been campaigning
        for an archive of requests and replies, which helped shape our ideas.
      </p>
      <p>
        mySociety developer Chris Lightfoot refined the concept with the model
        of intercepting email responses to requests and automatically publishing
        them. And so WhatDoTheyKnow in its current form was born.
      </p>
    </dd>
    <dt id="global">
      Going global
      <a href="#global">#</a>
    </dt>
    <dd>
      <p>
        WhatDoTheyKnow was the foundation for the <a
        href="http://alaveteli.org/">Alaveteli software</a>, which enables anyone,
        anywhere, to run their own Freedom of Information website. Because
        Alaveteli is open source, it contains contributions from many
        <a href="https://github.com/mysociety/alaveteli/graphs/contributors">
        contributors</a>, all of whom we appreciate and celebrate.
      </p>
    </dd>
    <dt id="funding">
      Funding
      <a href="#funding">#</a>
    </dt>
    <dd>
      <p>
        Original funding for WhatDoTheyKnow was provided by the Joseph Rowntree
        Trust.
      </p>
    </dd>
    <dt id="volunteers">
      Volunteers
      <a href="#volunteers">#</a>
    </dt>
    <dd>
      <p>
        An amazing team of volunteers run the site, answer your support emails,
        maintain the database of public authorities and so much more. Thanks to
        <a href="https://www.whatdotheyknow.com/user/m_bimmler">Michael
        Bimmler</a>,
        <a href="https://www.whatdotheyknow.com/user/kieran_casey_2">Kieran
        Casey-McEvoy</a>,
        <a href="https://www.whatdotheyknow.com/user/gavin_chait/">Gavin Chait
        </a>,
        <a href="https://www.whatdotheyknow.com/user/helen_cross_2">Helen
        Cross</a>,
        <a href="https://www.whatdotheyknow.com/user/john_cross">John Cross</a>,
        <a href="https://www.whatdotheyknow.com/user/martyn_dewar">Martyn
        Dewar</a>,
        <a href="https://www.whatdotheyknow.com/user/ben_harris">Ben Harris</a>,
        <a href="https://www.whatdotheyknow.com/user/ryan_jarvis">Ryan Jarvis
        </a>,
        <a href="https://www.whatdotheyknow.com/user/matt_knight">Matt
        Knight</a>,
        <a href="https://cornerstonebarristers.com/barrister/matt-lewin/">
        Matt Lewin</a>,
        <a href="https://www.whatdotheyknow.com/user/rob_mcdowall">Rob McDowell
        </a>,
        <a href="https://www.whatdotheyknow.com/user/adam_mcgreggor">Adam
        McGreggor</a>,
        <a href="https://www.whatdotheyknow.com/user/doug_paulley">Doug Paulley
        </a>,
        <a href="https://www.whatdotheyknow.com/user/ganesh_sittampalam">Ganesh
        Sittampalam</a>,
        <a href="https://www.whatdotheyknow.com/user/alex_skene">Alex Skene</a>,
        <a href="https://www.whatdotheyknow.com/user/alistair_p_sloan">Alistair
        Sloan</a>,
        <a href="https://www.whatdotheyknow.com/user/richard_taylor">Richard
        Taylor</a> and
        <a href="https://www.whatdotheyknow.com/user/a_ying">Andrew Ying</a>.
      </p>
    </dd>
    <dt id="more-thanks">
      Thanks are also due
      <a href="#more-thanks">#</a>
    </dt>
    <dd>
      <p>
        Many people — too many to mention, but we love you all — helped find the
        email addresses for public authorities, and gave the site a test run in
        its early days.
      </p>
      <p>
        The provision of the service is also supported by our volunteer
        <a href="https://www.mysociety.org/about/board/?utm_source=whatdotheyknow.com&utm_medium=link">
        non-executive directors and trustees</a>.
      </p>
      <p>
        Many of <a href="https://www.mysociety.org/about/team/?utm_source=whatdotheyknow.com&utm_medium=link">
        mySociety's staff</a>, past and present, have contributed to the site's
        success.
      </p>
      <p>
        Francis Davey gave us invaluable legal advice for several years.
      </p>
      <p>
        Peter Williams, who is sadly no longer with us, answered many user
        support emails and contributed greatly to the public bodies database.
      </p>
      <p>
        We also thank all the officers and servants who have answered the many
        requests made through the site. Their diligence, patience and
        professionalism is what has made the information you see in this massive
        archive. Thank them for helping make government more transparent.
      </p>
    </dd>
    <dt id="helpus">
      Want to help?
      <a href="#helpus">#</a>
    </dt>
    <dd>
      <p>
        Find out about <a href="<%= help_general_path(:template => 'volunteers') %>"
        >how to get involved</a>.
      </p>
    <dd>
  </dl>
  <div id="hash_link_padding"></div>
</div>
