<% @title = "Requests for Environmental Information" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="Environmental_information"><%= @title %></h1>
  <dl>
    <dt id="what_is_EIR">
    What are the Environmental Information Regulations?
      <a href="#about_EIR">#</a>
    </dt>
    <dd>
    <p>The Environmental Information Regulations (EIR) give you the right to access
     information about the environment from public authorities. These regulations make sure
    that important data on topics like air and water quality, pollution, waste management, 
    and land use planning is available to everyone. EIR applies to public authorities in England, Wales and
     Northern Ireland. In Scotland, the same set of rules are called the Environmental Information (Scotland) Regulations.
    </p>
    </dd>
    <dt id="what_is_covered">
    What type of information is covered?
      <a href="what_is_covered">#</a>
    </dt>
    <dd>
      <p>The Environmental Information Regulations cover a variety of types of environmental information held by public authorities. 
      This information could be held in many different formats including documents, reports, datasets, emails, or photographs.</p> 
      <p>Some of the categories of information covered by EIR include information about:</p>
<ul>
  <li><strong>The state of the environment:</strong> data on air, water, soil, land, plants, animals, and ecosystems, and their interactions and natural processes.</li>
  <li><strong>Emissions, discharges and other releases:</strong> information about energy, noise, radiation, or waste.</li>
  <li><strong>Environmental measures and reports:</strong> policies, plans, programs, environmental agreements, legislation, and actions that affect the environment. This also includes measures designed to protect the
   environment</li>
   <li><strong>Reports and analyses:</strong> Economic analyses, cost-benefit studies, and assumptions used in environmental decision-making processes, as well as reports about the implementation of environmental legislation</li>
  <li><strong>Effects on human health and safety:</strong> Information on how environmental factors impact public health, living conditions, safety, food contamination, and cultural sites.</li>
   </ul>
      </p>   
    </dd>
    <dt id="who_can_request">
    Who can make an EIR request?
      <a href="who_can_request">#</a>
    </dt>
    <dd>
    <p>Anyone can make a request for environmental information. You do not need to give a reason for your request or demonstrate any particular interest in the information.</p>
    </dd>
  <dt id="how_to_make_an_eir_request">
  How do I make an EIR request?
    <a href="how_to_make_an_eir_request">#</a>
  </dt>
  <dd>
  <p>You can make an EIR request using WhatDoTheyKnow in the same way that you would make any other type of request.
  There is no specific form that an EIR request needs to take, and you do not have to state that you are making an EIR
     request for it to be valid. EIR requests can be made verbally or in writing, and unlike FOI, there is no requirement
      for you to give your real name</p>
  </dd>
  <dt id="how_long">
  How long does it take to receive a response?
    <a href="how_long">#</a>
  </dt>
  <dd>
  <p>Public authorities have to respond to your EIR request within 20 working days. However, in certain situations where the request is especially complex
  or voluminous, the response time may be extended by an additional 20 working days. A public authority can only extend the deadline once, meaning 
  that the maximum time permitted for answering a request is 40 working days or about two months.</p>
  </dd>

  <dt id="who_is_subject">
  Which organisations are subject to the EIR?
    <a href="">#</a>
  </dt>
  <dd>
  <p>EIR applies to almost all public authorities that are subject to FOI, including government departments, 
  local councils, NHS bodies and universities. It also extends to some private organisations that carry 
  out public administrative functions or provide public services related to the environment, including
   water companies and port and harbour authorities.</p>
  </dd>
  <dt id="eir_and_foi">
  Can I combine an EIR request with a Freedom of Information (FOI) request?
  <a href="eir_and_foi">#</a>
</dt>
<dd>
<p>If you are interested in obtaining environmental and non-environmental information from a public authority,
 you can submit a combined EIR and FOI request. You do not have to indicate which part of the information falls
     under EIR and which part falls under FOI. The public authority should process each part of your 
     request according to the relevant legislation and may provide a separate response if this is necessary.</p>
</dd>
  <dt id="exceptions">
    Are there any exceptions to the EIR?
    <a href="exceptions">#</a>
  </dt>
  <dd>
  <p>There are a number of reasons why public authorities canrefuse to disclose information under the 
  Environmental Information Regulations (EIR) and the Environmental Information (Scotland) Regulations (EISR). 
  These are called "exceptions" and you can read more about these below, along with links to the relevant guidance from the 
  Information Commissioner's Office (ICO) and the Office of the Scottish Information Commissioner (OSIC)
  </p>
  <strong>❌ Information that is not held</strong>
  <p>If a public authority does not hold the requested information at the time they received your request, they do 
  not have to provide you with it.</p>
  <ul>
    <li>EIR: <a href="https://www.legislation.gov.uk/uksi/2004/3391/regulation/12/made">Regulation 12(4)(a)</a> - <a href="https://ico.org.uk/for-organisations/foi-eir-and-access-to-information/freedom-of-information-and-environmental-information-regulations/#holding">ICO guidance</a></li>
    <li>EISR: <a href="https://www.legislation.gov.uk/ssi/2004/520/regulation/10/made">Regulation 10(4)(a)</a> - <a href="https://www.itspublicknowledge.info/sites/default/files/2022-04/InformationNotHeldEIRs%20%281%29.pdf">OSIC guidance</a></li>
  </ul>
  <strong>✋ Manifestly unreasonable requests</strong>
  <p>Public authorities may refuse to disclose information if the amount of information that you have asked for is 
  excessively large or deemed unreasonable.</p>
  <ul>
    <li>EIR: <a href="https://www.legislation.gov.uk/uksi/2004/3391/regulation/12/made">Regulation 12(4)(b)</a> - <a href="https://ico.org.uk/for-organisations/foi-eir-and-access-to-information/freedom-of-information-and-environmental-information-regulations/manifestly-unreasonable-requests-regulation-12-4-b-environmental-information-regulations/">ICO guidance</a></li>
    <li>EISR: <a href="https://www.legislation.gov.uk/ssi/2004/520/regulation/10/made">Regulation 10(4)(b)</a> - <a href="https://www.itspublicknowledge.info/sites/default/files/2022-04/BriefingRegulation104bManifestlyUnreasonableRequests.docx%20%281%29.pdf">OSIC guidance</a></li>
  </ul>
  <strong>😕 Formulated in too general a manner</strong>
  <p>An authority is not required to release information if the request is not specific or clear enough.</p>
  <ul>
    <li>EIR: <a href="https://www.legislation.gov.uk/uksi/2004/3391/regulation/12/made">Regulation 12(4)(c)</a> - <a href="https://ico.org.uk/media/for-organisations/documents/1619/requests_formulated_in_too_general_a_manner_eir_guidance.pdf">ICO guidance</a></li>
    <li>EISR: <a href="https://www.legislation.gov.uk/ssi/2004/520/regulation/10/made">Regulation 10(4)(c)</a> - <a href="https://www.itspublicknowledge.info/sites/default/files/2022-04/EIRsGuidanceRegulation104cRequestswhicharetoogeneral.pdf">OSIC guidance</a></li>
  </ul>
  <strong>🚧 Unfinished Material</strong>
  <p>An authority is not required to release information that it is still working on/is unfinished.</p>
  <ul>
    <li>EIR: <a href="https://www.legislation.gov.uk/uksi/2004/3391/regulation/12/made">Regulation 12(4)(d)</a> - <a href="https://ico.org.uk/for-organisations/foi-eir-and-access-to-information/freedom-of-information-and-environmental-information-regulations/regulation-124d-eir/">ICO guidance</a></li>
    <li>EISR: <a href="https://www.legislation.gov.uk/ssi/2004/520/regulation/10/made">Regulation 10(4)(d)</a> - <a href="https://www.itspublicknowledge.info/sites/default/files/2022-03/EIRBriefingsExceptions.pdf">OSIC guidance</a></li>
  </ul>
  <strong>🤫 Confidentiality of proceedings</strong>
  <p>Public authorities may refuse a request if disclosing the information would breach the confidentiality 
  of proceedings, where such confidentiality is protected by law. This exception typically applies to information 
  exchanged during legal proceedings, such as court hearings or tribunal proceedings.</p>
  <ul>
    <li>EIR: <a href="https://www.legislation.gov.uk/uksi/2004/3391/regulation/12/made">Regulation 12(5)(d)</a> - <a href="https://ico.org.uk/for-organisations/foi-eir-and-access-to-information/freedom-of-information-and-environmental-information-regulations/regulation-12-5-d-confidentiality-of-proceedings-environmental-information-regulations/">ICO guidance</a></li>
    <li>EISR: <a href="https://www.legislation.gov.uk/ssi/2004/520/regulation/10/made">Regulation 10(5)(d)</a> - <a href="https://www.itspublicknowledge.info/sites/default/files/2022-03/EIRBriefingsExceptions.pdf">OSIC guidance</a></li>
  </ul>
  <strong>📧 Internal communications</strong>
  <p>Public authorities may refuse to disclose internal communications, such as draft documents or internal discussions.</p>
  <ul>
    <li>EIR: <a href="https://www.legislation.gov.uk/uksi/2004/3391/regulation/12/made">Regulation 12(4)(e)</a> - <a href="https://ico.org.uk/for-organisations/foi-eir-and-access-to-information/freedom-of-information-and-environmental-information-regulations/regulation-12-4-e-internal-communications/">ICO guidance</a></li>
    <li>EISR: <a href="https://www.legislation.gov.uk/ssi/2004/520/regulation/10/made">Regulation 10(4)(e)</a> - <a href="https://www.itspublicknowledge.info/sites/default/files/2023-03/EIRsGuidanceRegulation104eInternalCommunications.pdf">OSIC guidance</a></li>
  </ul>
  <strong>📄 Intellectual property rights</strong>
  <p>If disclosing the information would infringe on intellectual property rights, such as copyrights or trademarks, 
  the public authority may refuse the request.</p>
  <ul>
    <li>EIR: <a href="https://www.legislation.gov.uk/uksi/2004/3391/regulation/12/made">Regulation 12(5)(c)</a> - <a href="https://ico.org.uk/for-organisations/foi-eir-and-access-to-information/freedom-of-information-and-environmental-information-regulations/regulation-12-5-c-intellectual-property-rights/">ICO guidance</a></li>
    <li>EISR: <a href="https://www.legislation.gov.uk/ssi/2004/520/regulation/10/made">Regulation 10(5)(c)</a> - <a href="https://www.itspublicknowledge.info/sites/default/files/2022-04/EIRsGuidanceRegulation105cIntellectualpropertyrights.pdf">OSIC guidance</a></li>
  </ul>
  <strong>🏭 Confidentiality of commercial or industrial information</strong>
  <p>Public authorities may refuse to disclose information if it would adversely affect the confidentiality of commercial 
  or industrial information, where such confidentiality is protected by law to safeguard a legitimate economic interest.</p>
  <ul>
    <li>EIR: <a href="https://www.legislation.gov.uk/uksi/2004/3391/regulation/12/made">Regulation 12(5)(e)</a> - <a href="https://ico.org.uk/for-organisations/foi-eir-and-access-to-information/freedom-of-information-and-environmental-information-regulations/commercial-or-industrial-information-regulation-12-5-e/">ICO guidance</a></li>
    <li>EISR: <a href="https://www.legislation.gov.uk/ssi/2004/520/regulation/10/made">Regulation 10(5)(e)</a> - <a href="https://www.itspublicknowledge.info/sites/default/files/2022-03/EIRBriefingsExceptions.pdf">OSIC guidance</a></li>
  </ul>
  <strong>🤝 Interests of the person who provided the information</strong>
  <p>If the information requested was provided voluntarily and the person who supplied it has not consented to its disclosure, the public authority may refuse the request. This exception applies only if the person who supplied the information was not legally required to do so, and if the public authority can guarantee that the information will remain confidential.</p>
  <ul>
    <li>EIR: <a href="https://www.legislation.gov.uk/uksi/2004/3391/regulation/12/made">Regulation 12(5)(f)</a> - <a href="https://ico.org.uk/media/for-organisations/documents/1638/eir_voluntary_supply_of_information_regulation.pdf">ICO guidance</a></li>
    <li>EISR: <a href="https://www.legislation.gov.uk/ssi/2004/520/regulation/10/made">Regulation 10(5)(f)</a> - <a href="https://www.itspublicknowledge.info/sites/default/files/2022-04/EIRsGuidanceRegulation105fThirdpartyinterests.pdf">OSIC guidance</a></li>
  </ul>
  <strong>🐻 Protection of the environment</strong>
  <p>Public authorities may refuse to disclose information if it would adversely affect the protection of the environment to which the information relates.</p>
  <ul>
    <li>EIR: <a href="https://www.legislation.gov.uk/uksi/2004/3391/regulation/12/made">Regulation 12(5)(g)</a> - <a href="https://ico.org.uk/for-organisations/foi-eir-and-access-to-information/freedom-of-information-and-environmental-information-regulations/regulation-12-5-g-protection-of-the-environment/">ICO guidance</a></li>
    <li>EISR: <a href="https://www.legislation.gov.uk/ssi/2004/520/regulation/10/made">Regulation 10(5)(g)</a> - <a href="https://www.itspublicknowledge.info/sites/default/files/2022-04/EIRsGuidanceRegulation105gProtectionoftheEnvironment.pdf">OSIC guidance</a></li>
  </ul>
  <strong>🙋 Personal data</strong>
  <p>If the requested information includes personal data, the public authority may refuse to disclose it if doing so would breach data protection law.</p>
  <ul>
    <li>EIR: <a href="https://www.legislation.gov.uk/uksi/2004/3391/regulation/13/made">Regulation 13</a> - <a href="https://ico.org.uk/media/for-organisations/documents/2619056/s40-personal-information-section-40-regulation-13.pdf">ICO guidance</a></li>
    <li>EISR: <a href="https://www.legislation.gov.uk/ssi/2004/520/regulation/11/made">Regulation 11</a> - <a href="https://www.itspublicknowledge.info/sites/default/files/2022-04/EIRs%20Guidance%20Regualtion%2011%20Personal%20Data.pdf">OSIC guidance</a></li>
  </ul>
  <strong>💣 International relations, defence, and security</strong>
  <p>Authorities may refuse to provide information if doing so would harm international relations, defence, national security, or public safety.</p>
  <ul>
    <li>EIR: <a href="https://www.legislation.gov.uk/uksi/2004/3391/regulation/12/made">Regulation 12(5)(a)</a> - <a href="https://ico.org.uk/for-organisations/foi-eir-and-access-to-information/freedom-of-information-and-environmental-information-regulations/regulation-12-5-a-international-relations-defence-national-security-or-public-safety/">ICO guidance</a></li>
    <li>EISR: <a href="https://www.legislation.gov.uk/ssi/2004/520/regulation/10/made">Regulation 10(5)(a)</a> - <a href="https://www.itspublicknowledge.info/sites/default/files/2022-04/EIRsGuidanceRegulation105aInternationalRelations.pdf">OSIC guidance</a></li>
  </ul>
  <strong>⚖️ Justice and fair trials</strong>
  <p>If sharing the information would negatively affect the course of justice, a person's ability to receive a fair trial, or an authority's ability to conduct a criminal or disciplinary inquiry.</p>
  <ul>
    <li>EIR: <a href="https://www.legislation.gov.uk/uksi/2004/3391/regulation/12/made">Regulation 12(5)(b)</a> - <a href="https://ico.org.uk/for-organisations/foi-eir-and-access-to-information/freedom-of-information-and-environmental-information-regulations/regulation-12-5-b-the-course-of-justice-and-inquiries-exception/">ICO guidance</a></li>
    <li>EISR: <a href="https://www.legislation.gov.uk/ssi/2004/520/regulation/10/made">Regulation 10(5)(b)</a> - <a href="https://www.itspublicknowledge.info/sites/default/files/2022-04/EIRsGuidanceRegulation105bCourseofJustice.pdf">OSIC guidance</a></li>
  </ul>
  <p>All of the exceptions to EIR are subject to the public interest test, which means that the public 
  authority must weigh the benefits of disclosure against any potential harm when deciding whether to withhold
  information. If the public interest is in favour of disclosure, the information must be released, even if one or more of the 
  above exceptions applies. Most of these exceptions cannot be used to withhold information relating to emissions.</p>
  </dd>
</dl>
  <%= render partial: 'history' %>

  <div id="hash_link_padding"></div>
</div>
