<% @title = "House rules" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1><%=@title %></h1>
  <h2> How we expect people to use and behave on the site </h2>
  <p>
    Violation of any of the below rules is likely to lead to the suspension of
    your account, and you will no longer be able to make requests or updates on
    WhatDoTheyKnow.
  </p>
  <p>
    In some cases, breaking these rules could lead to legal action being taken
    against you by the authorities or an aggrieved party.
  </p>
  <p>
    Additionally, breaches often take significant amounts of volunteer time to
    deal with and risk mySociety’s ability to run the service.
  </p>
  <ul>
    <li>
      Use WhatDoTheyKnow only to request specific information, not for general
      correspondence with public authorities, and certainly not for
      correspondence about your own personal circumstances.
    </li>
    <li>
      Do not include potentially defamatory/potential libellous comments (such
      as allegations) in your requests and annotations.
    </li>
    <li>
      Do not post information that is unlawful, harassing, defamatory, abusive,
      threatening, harmful, obscene, discriminatory or profane
    </li>
    <li>
      Do not use WhatDoTheyKnow to request your personal information from
      authorities. You should request this information privately via a Subject
      Access request, a procedure that is distinct from a Freedom of Information
      request. See
      <a href="https://ico.org.uk/for-the-public/personal-information/">advice
      on this from the Information Commissioner’s Office</a>.
    </li>
    <li>
      Keep messages sent via our service concise and tightly focused on the
      subject of the request for information. Heed our
      <%= link_to help_requesting_path(anchor: 'responsible') do -%>
        advice on making responsible and effective requests.
      <% end %>
    </li>
    <li>
      Do not try to impersonate someone else.
    </li>
    <li>
      Do not use any language likely to offend in your requests and annotations.
    </li>
    <li>
      No spamming.
    </li>
    <li>
      Requests must be made in mixed case letters, i.e. not all in capitals and
      not all in lowercase (this is automatically enforced by the software that
      WhatDoTheyKnow runs on).
    </li>
    <li>
      Do not make vexatious requests (requests with no serious purpose, or which
      are intended to disrupt the operation of a public body). The ICO has
      guidance on vexatious requests
      <a href="https://ico.org.uk/media/for-organisations/documents/1198/dealing-with-vexatious-requests.pdf">
      here</a>.
    </li>
    <li>
      Do not post other people’s sensitive personal data to the site.
    </li>
    <li>
      Do not seek to evade the actions of site administrators by, for example,
      creating new accounts to evade a ban, or a rate-limiting cap, or by
      republishing material which you know has been removed by moderators.
    </li>
  </ul>
  <p>
    By breaking the rules above, you risk being banned from using the site,
    and/or your requests/annotations being removed.  In cases where it’s clear
    that your intentions are not malicious, we will contact you first so that we
    can give advice on how better to use the service.
  </p>
  <div id="hash_link_padding"></div>
</div>
