<% @title = "House rules" %>
<%= render partial: 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1><%= @title %></h1>
  <p>If you break any of these rules, we may suspend your account. This means you won't be able to make requests or updates on WhatDoTheyKnow.</p>
  <p>When rules are broken, our volunteers have to spend a lot of time fixing things. This could make it harder for mySociety to keep running this service.</p>
  <ul>
    <li>Only use WhatDoTheyKnow to make requests for recorded information. This can include requests for documents, files and data.</li>
    <li>Don't use the site to send general messages or personal messages to public authorities.</li>
    <li>Requests should clearly explain the information you are asking for.</li>
    <li>Keep your messages short and focused on the information you want. Follow our <%= link_to help_requesting_path(anchor: 'responsible') do %>tips for making good requests.<% end %></li>
    <li>When making an FOI request using the site, you should be asking for information and not providing information you already have. You can of course provide any information the public authority is likely to need to understand your request and to find the information you are asking for.</li>
    <li>Write requests using both upper and lowercase letters.</li>
    <li>Don't include complaints or personal opinions in your requests.</li>
    <li>Don't use WhatDoTheyKnow to ask for other people's personal information. Don't include this type of information in requests, comments or follow-ups, unless it's fair to do so.</li>
    <li>Don’t include your own personal information in your requests or follow up messages other than your name or any information you wish to include relating to the capacity in which you are making the request. For example, if you are a journalist you can say this if you want to.</li>
    <li>Only use the site to request information that anyone could expect to get. If you have a special right to certain information, like your own personal data, contact the public authority directly. The same goes for personal information about your family 
    members. Requests for your own data are called Subject Access Requests. The Information Commissioner (ICO) has 
    <a href="https://ico.org.uk/your-data-matters/your-right-to-get-copies-of-your-data/" title="Guidance from the Information Commissioner on your right of access">
    advice on making these requests</a>.</li>
    <li>Don't use language that might offend people in your requests and comments.</li>
    <li>Don't post anything that is against the law, threatening, abusive, or offensive.</li>
    <li>Don't include things that could be seen as harmful or untrue in your requests and comments.</li>
    <li>Don't make allegations.</li>
    <li>Don't pretend to be someone else.</li>
    <li>Don't make vexatious requests that have no real purpose or are meant to cause problems for a public body. The ICO has 
    <a href="https://ico.org.uk/for-organisations/guidance-index/freedom-of-information-and-environmental-information-regulations/dealing-with-vexatious-requests-section-14/" title="Guidance from the Information Commissioner on vexatious requests">
    guidance on this type of request</a>.</li>
    <li>No spamming.</li>
    <li>Don't try to get around the actions of site administrators. For example, don't make new accounts to avoid a ban or limits on how many requests you can make. Don't repost things you know moderators have removed.</li>
  </ul>
  
  <p>If you break these rules, you could be banned from the site. We may also remove your requests or annotations. We'll usually contact you first to give advice on how to use the service better.</p>
  <p>If you use threats or abusive language, mySociety staff and volunteers will stop responding to you. You'll also be banned from using the site.</p>
  <%= render partial: 'history' %>

  <div id="hash_link_padding"></div>
</div>
