<% @title = "What to do if you didn't get a response to your request" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="title">
    <%= @title %>
    <a href="#title">#</a>
  </h1>
  <p>
    By law, public authorities normally have to respond to Freedom of 
    Information or Environmental Information requests promptly and within 
    20 working days. Unfortunately, authorities don't always provide a 
    response within this timeframe. 
  </p>
  <p>
    If 20 working days have passed and 
     you’ve had no response at all, you should first start by sending 
    the authority a polite reminder, which might prompt them to respond to 
    you. If that doesn’t work, the next step will depend on where the 
    authority is based.
  </p>
    
  <h2 id="ICO">
    For Public Authorities in England, Wales and Northern Ireland:
    <a href="#ICO">#</a>
  </h2>
        
  <p>
    If the public authority has not replied to a request at all, you can 
    complain directly to the Information Commissioner 
    (<abbr title="Information Commissioner's Office">ICO</abbr>) by email at 
    <strong><code><a href="mailto:ICOCasework@ico.org.uk">ICOCasework@ico.org.uk</a>
    </strong></code> or using their online form:
  </p>
  
  <p>
    <a href="https://ico.org.uk/make-a-complaint/foi-and-eir-complaints/foi-and-eir-complaints/">
        https://ico.org.uk/make-a-complaint/foi-and-eir-complaints/foi-and-eir-complaints/
    </a>
  </p>
    
  <p>
    Although the ICO form asks you to attach copies of any correspondence 
    that you have had with the authority, all you need to do is include a 
    link to your request on WhatDoTheyKnow.
  </p>
    
  <p>
    The ICO will contact you within no more than 30 working days to
    provide a case reference number, and will assign your complaint to
    a case officer as soon as possible. They aim to resolve 90% of
    FOI complaints within six months, and 99% within twelve months.
    If your complaint is valid, the ICO will write to the 
    authority and tell them to provide you with a response within 35 
    calendar days.
  </p>
    
  <p>
    If the authority still doesn't comply, you can then ask the ICO to 
    issue a formal decision notice. This decision notice will require the 
    authority to respond to you within 35 calendar days.
  </p>
    
  <h2 id=OSIC>
    For Scottish Public Authorities:
    <a href="#OSIC">#</a>
  </h2>
    
  <p>
    Unlike the ICO, the Scottish Information Commissioner 
    (<abbr title="Office of the Scottish Information Commissioner">OSIC</abbr>) 
    considers a lack of response by a public authority as being a refusal, and 
    will not look at complaints unless you have first requested an internal 
    review, and waited a further 20 working days for a response.
  </p>
    
  <p>
    You can request an internal review by clicking on the grey actions 
    button on the request page, and selecting “Request an Internal Review”. 
    You should tell the authority that you are requesting a review because 
    they have not responded to your request.
  </p>
    
  <p>
    If the authority doesn’t respond to your request for an internal review, 
    then you can complain to the OSIC. You can do this by sending an email to:
  </p>

  <p>
    <strong><code><a href="mailto:enquiries@foi.scot">enquiries@foi.scot</a></strong></code>.
  </p>  

  <p>  
    They provide an 
    <a href="https://www.foi.scot/sites/default/files/2024-08/ApplicationForm2024.docx">
    application form</a> for you to use if you wish to do so. They will need to see a copy of your request and 
    a copy of your request for an internal review, so make sure to include a link to your request as part of 
    your complaint.
  </p>
    
  <p>
    The OSIC will look into your complaint, and if upheld, will issue a decision notice finding that the authority 
    failed to respond to both your request for information and review. The decision notice will require the authority 
    to respond to your request.
  </p>
  <%= render partial: 'history' %>
</div>
