<% @title = "Why we do this" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1><%=@title %></h1>
  <h2> What are the guiding principles of WhatDoTheyKnow? </h2>

  <dl>
    <dt id="beliefs">
      Beliefs
      <a href="#beliefs">#</a>
    </dt>
    <dd>
      <ul>
        <li>
          We believe that easy access to government-held information should be a
          universal right; that it generally makes ordinary people more
          powerful, and helps build better, less corrupt and more responsive
          nations.
        </li>
        <li>
          We believe that citizens have the right to request information that
          helps them to assess the effectiveness and morality of the bodies that
          their taxes are funding.
        </li>
        <li>
          We believe that transparency matters because it discourages bad
          governance, helps citizens to understand how power is wielded, and can
          be used by citizens to exert power over public and private bodies.
        </li>
        <li>
          We believe that people have an equal right to information under the
          law, and that this right should be applied equally to all.
        </li>
        <li>
          We believe that aspects of the UK’s transparency laws and processes do
          not serve citizens as best they might, and whilst we are not primarily
          a campaign group, we will take opportunities to highlight these
          problems.
        </li>
      </ul>
    </dd>
    <dt id="goals">
      Goals
      <a href="#goals">#</a>
    </dt>
    <dd>
      <ul>
        <li>
          To make it as easy as possible for people to obtain information from
          public-sector bodies in the United Kingdom.
        </li>
        <li>
          To build a public archive of information released under Freedom of
          Information laws.
        </li>
        <li>
          To advocate for greater transparency in UK public institutions.
        </li>
      </ul>
    </dd>
    <dt id="protocols">
      Protocols and principles
      <a href="#protocols">#</a>
    </dt>
    <dd>
      <ul>
        <li>
          Where possible, the decisions we make relating to content on the site,
          and the operations of the site, should be public.
        </li>
        <li>
          Through running our site we promote access to information legislation
          and show how it can be used.
        </li>
        <li>
          We provide tools to allow users to help give context to requests and
          responses.
        </li>
        <li>
          We give requests for information and responses a permanent, credible
          citable URL on the Internet.
        </li>
        <li>
          We aim to bring transparency to the operation of Freedom of
          Information laws by public bodies.
        </li>
        <li>
          WhatDoTheyKnow is mostly automatic or driven by users and authorities.
          Administrative action is the exception, not the rule.
        </li>
        <li>
          We take steps to minimise the workload for those administering the
          site: wherever possible technical solutions to issues are found rather
          than relying on manual intervention.
        </li>
        <li>
          We aim to get as high a proportion of FOI responses available online
          as possible.
        </li>
      </ul>
    </dd>
  </dl>
  <div id="hash_link_padding"></div>
</div>
