
<% @title = "Thank you for reporting a data breach" %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1>Thank you for reporting a data breach</h1>

  <p>We will review your report and take appropriate action.</p>
</div>
