body.front h3 {
 font-size: 1.6em;
}


/*
 * Image replacement from
 * https://github.com/h5bp/html5-boilerplate/commit/adecc5da035d6d76b77e3fa95c6abde841073da2
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}


#banner_inner a#logo {
    top: 5px;
    width: 215px;
    height: 41px;
    background-image: image-url('logo-trans.png');
}


#orglogo {
  z-index: 200;
  position: absolute;
  top: 2.8em;
  right: 0.5em;
  height: 41px;
  width: 160px;
  background-repeat: no-repeat;
  background-position: -2px 0;
  background-image: image-url('mysociety.png');
}

#topnav {
  margin-left:0;
}

div.lang {
  right:0.6em;
  width: 160px;
  top:80px;
  text-align:center;
}

.btn.disabled {
  text-decoration:none;
  color: #444444;
  cursor: default;
}

.popup .popup-close {
margin: 0.3em;
}
