    <div class="act_link">
        <%= link_to image_tag('writetothem.png', :alt => "", :class => "rss"), "http://www.writetothem.com"%>
        <%= link_to 'Write to your politician', "http://www.writetothem.com"%>
    </div>
