    <div class="act_link">
        <%= link_to '<img src="/images/helpmeinvestigate.png" alt="" class="rss">'.html_safe, "http://helpmeinvestigate.com/"%>
        <%= link_to 'Get help investigating', "http://helpmeinvestigate.com/"%>
    </div>
    <div class="act_link">
        <%= link_to '<img src="/images/writetothem.png" alt="" class="rss">'.html_safe, "http://www.writetothem.com"%>
        <%= link_to 'Write to your politician', "http://www.writetothem.com"%>
    </div>
    <div class="act_link">
        <%= link_to '<img src="/images/pledgebank.png" alt="" class="rss">'.html_safe, "http://www.pledgebank.com"%>
        <%= link_to 'Pledge with others', "http://www.pledgebank.com"%>
    </div>
